@import "../../utils/styles/colors";
.aboutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4rem);
  @media (min-width: 501px) and (max-width: 850px) {
    width: calc(100% - 12rem);
  }
  @media (max-width: 500px) {
    width: calc(100% - 2rem);
  }
  &__header {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    width: 80%;
    padding: 1rem;
    p {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 160px;
        height: 1px;
        // background: rgba(0, 0, 0, 0.3); // hoặc dùng một màu cụ thể
        background: color-mix(in srgb, var(#272829), transparent 60%);
        left: 0;
        right: 0;
        bottom: 1px;
        margin: auto;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 3px;
        background: $accent-orange;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    span {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #272829;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 2rem;
    width: 90%;
    @media (min-width: 501px) and (max-width: 850px) {
      width: 100%;
      grid-template-columns: unset;
    }
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
