@import "../../utils/styles/colors";
.aboutContainer {
  min-height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  width: 80%;
  max-width: 1400px;
  @media (max-width: 1024px) {
    min-height: 65vh;
    width: 85%;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 1rem 1rem;
  }
  &__header {
    text-align: center;
    width: 100%;
    padding: 2rem 1rem 3rem;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 1.75rem;
      width: 95%;
    }

    @media (max-width: 767px) {
      gap: 1.25rem;
      width: 85%;
    }

    p {
      font-size: clamp(22px, 3vw, 32px);
      font-weight: 700;
      margin-bottom: 1rem;
      padding-bottom: 1.5rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 3px;
        background: linear-gradient(137deg, #ffffff, #b8ceff, #004fff, #ffffff);
        background-size: 240% 240%;
        animation: gradient-animation 5s ease infinite;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }

    span {
      display: block;
      max-width: 800px;
      margin: 0 auto;
      color: #272829;
      line-height: 1.6;
      text-align: justify;
    }
  }

  &__content {

    gap: 2rem;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 1.75rem;
      width: 95%;
    }

    @media (max-width: 767px) {
      gap: 1.25rem;
      width: 100%;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
