@import "../../../../utils/styles/colors";

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    input,
    textarea {
      width: 100%;
      font-size: 0.875rem;
      padding: 0.625rem 1rem;
      box-shadow: none;
      border-radius: 4px;
      color: #272829;
      background-color: color-mix(in srgb, #f9f9f9, transparent 50%);
      border: none;
      transition: 0.5s ease-in-out;
      &:focus,
      &:focus-visible {
        outline: none;
        box-shadow: none;
        border: none;
      }
      &::placeholder,
      .contact .php-email-form textarea::placeholder {
        color: color-mix(in srgb, $text-dark, transparent 70%);
      }
    }
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      color: $text-light;
      background: $primary-dark;
      border: 0;
      width: 50%;
      padding: 0.625rem 1.875rem;
      transition: 0.4s;
      border-radius: 3.125rem;
      &:hover {
        background-color: $accent-purple;
      }
    }
  }

  .loading {
    display: none;
    background: #0563bb;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 0.625rem -0.375rem 0;
      border: 0.188rem solid #0563bb;
      border-top-color: #0563bb;
      animation: loading 1s linear infinite;
    }

    @keyframes loading {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
