@import "../../../../utils/styles/colors";
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
  }
  &__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    p {
      width: 50%;
    }
    span {
      color: #000;
    }
  }
  &__content {
    padding: 0 0 20px 20px;
    position: relative;
    gap: 12px;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  &__title {
    padding-left: 8px;
  }
}
