@import "../../utils/styles/colors";

.skillContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  width: calc((100vw / 12) * 9.5);
  @media (max-width: 1024px) {
    width: 90%;
    height: 65vh;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 1rem 1rem;
    height: unset;
  }
  &__header {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
    p {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 160px;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 1px;
        margin: auto;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 3px;
        background: linear-gradient(137deg, #ffffff, #b8ceff, #004fff, #ffffff);
        background-size: 240% 240%;
        animation: gradient-animation 5s ease infinite;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    span {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #272829;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
  &__listSkill {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    width: 92%;
    margin: 0 auto;
    padding: 0 16px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.75rem;
    }
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 1.25rem;
      margin: unset;
      padding: 0;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
