@import "../../utils/styles/colors";

.contactContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f9f7;
  @media (max-width: 768px) {
    width: 95%;
    justify-content: start;
    padding: 0 8px;
  }
  &__header {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
    p {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 160px;
        height: 1px;
        // background: rgba(0, 0, 0, 0.3); // hoặc dùng một màu cụ thể
        background: color-mix(in srgb, var(#272829), transparent 60%);
        left: 0;
        right: 0;
        bottom: 1px;
        margin: auto;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 3px;
        background: $accent-orange;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    span {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #272829;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    @media (min-width: 501px) and (max-width: 1100px) {
      grid-template-columns: unset;
    }

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__returnBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 20px;
    width: fit-content;
    position: relative;
    width: 100%!important;
    transition: 0.3s ease;
  
    svg {
      height: 34px;
      margin: 10px;
      transition: transform 0.3s ease;
    }
  
    /* underline */
    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 2px;
      width: 25%;
      background: linear-gradient(90deg, #020073, #5f6bff);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }
  
    &:hover::after {
      transform: scaleX(1);
    }
  
    &:hover svg {
      transform: translateX(-4px);
    }
  }
}
