@import "../../../../utils/styles/colors";
.infor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    a {
      width: 3rem !important;
      height: 3rem;
      background-color: $border-light;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    &__content {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
      }
      p {
        font-style: italic;
      }
    }
  }
}
