@import "../../utils/styles/colors";

.navbarContainer {
  left: 0.75rem;
  display: flex;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  
  @media (max-width: 500px) {
    top: 10%;
    left: 50%;
    padding: 0;
    z-index: 999;
    height: unset;
    transform: translateX(-50%);
  }
  &__navmenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      @media (max-width: 500px) {
        left: 0;
        width: 100%;
        gap: 0.5rem;
        bottom: 10%;
        height: auto;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(12px);
        background: rgba(248, 249, 255, 0.85);
        box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
      }

      &__item {
        margin-bottom: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0.625rem;
        border-radius: 50px;
        width: 3rem;
        height: 3rem;
        transition: width 0.5s ease, background 0.3s ease;
        @media (max-width: 500px) {
          width: 3rem;
          margin-bottom: 0;
          border-radius: 4px;
          background-color: transparent;
        }

        &:hover {
          width: 120px;
          font-weight: 700;
          background: rgba(255, 255, 255, 0.2);
        }

        &.active {
          width: 120px;
          border: none;
          color: white;
          box-shadow: $border-light;
          background: linear-gradient(135deg, #ffa9f9, #aab6ff);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          text-decoration: none;
          font-weight: 500;
          color: #333;
          padding: 0.5rem;
          border-radius: 0.5rem;
          transition: background 0.2s ease;

          .navicon {
            font-size: 20px;
            margin-right: 10px;
          }

          span {
            color: $text-dark;
          }
        }
      }
    }
  }
}
