@import "./utils/styles/colors";

.layoutBody {
  width: calc(100% - 4rem);
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: $border-light;
  border-radius: 1rem;
  height: fit-content;
  overflow-x: hidden;
  @media (max-width: 500px) {
    width: calc(100% - 2rem);
    margin: 1rem;
            padding-bottom: 5rem;
  }
}
