.leftContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    @media (min-width: 501px) and (max-width: 850px) {
      max-width: 200px;
      height: auto;
    }
  }

}
