.menu {
  width: calc((100vw / 12) * 2.5);
  opacity: 0;
  top: 0;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: white;
  text-align: center;
  z-index: 100;
  transition: 200ms ease-in-out;
  left: 0;
  box-shadow: 5px 5px 40px 0px rgba(255, 0, 0, 0.101);
  left: 1%;
  &__imgProfile {
    margin-top: 10%;
    width: calc((100vw / 12) * 1.5);
    border-radius: 8px;
  }
  &__sub {
    margin: 20% auto;
    width: 230px;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 0px);
  }
}
.menuh {
  box-shadow: inherit;
  opacity: 1;
  left: 0%;
  transition: 200ms ease-in-out;
}
